.label {
    -fx-font-family: 'Helvetica Neue Condensed Black';
    -fx-text-fill: #333333;
}

.editor {

}

.editor .grid-root {
    -fx-padding: 50 0 0 0;
    -fx-spacing: 20px;
}

.editor .grid-row {
    -fx-hgap: 20px;
}

.tile {
    -fx-background-color: white;
    -fx-background-insets: 0;
    -fx-background-radius: 10;
    -fx-padding: 20 20 20 20;
    -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.1) , 10,0,7,7 );
}


.tile .kpi {
    -fx-font-size: 40px;
    /*-fx-font-weight: Bold;*/
}

.tile .kpi-label {

}

.tile .header {
    -fx-font-size: 18px;
    -fx-padding: 0 0 10 0;

    /*-fx-font-weight: bold;*/
}

.table-view {

}

.table-row-cell.section {
    -fx-padding: 10 0 0 0;
    -fx-font-weight: bold;
}

.table-row-cell.total {
    -fx-padding: 10 0 0 0;
    -fx-font-weight: bold;
    -fx-border-width: 1 0 0 0;
}